@keyframes growMenu {
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(1);
    }
}

@keyframes playBtnPhaseIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes shakeHand {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-30deg);
    }
}